<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Thông tin sản phẩm </h1>
    </div>
  </header>
<div>
    <table class="w-full">
        <thead>
        <tr class="text-left">
            <th>STT</th>
           
            <th>Email</th>
          
            <th>Trang thai</th>
            <th>Loai</th>
        </tr>
        <tbody id="table-news"> 
                <tr *ngFor="let item of auth" >
                        <td>{{item.email}}</td>
                        <td></td>
              
              

                        <td class="status-products-true" *ngIf="item.status==true" (click)="onStatus(item._id!)" ><button>Avtived</button></td>
                        <td class="status-products-false" *ngIf="item.status==false"(click)="onStatus(item._id!)"   ><button>Disable</button></td>
                       
                            <button  class="btn bg-red-500 p-3 rounded text-white inline-block"   >Delete</button>
                 
                    </tr>
        </tbody>
  
    </table>
</div>
