<footer class="pt-10 px-4 bg-slate-300 ">
    <div class="container flex flex-col justify-between mx-auto space-y-8">
      <div>
        <a href="" class="flex justify-center">
          <div class="flex w-12 h-12">
            <img src="https://res.cloudinary.com/dqyoluczh/image/upload/v1644757139/pcynoy4txejwsnppllke.png" class="h-8 w-8 mr-2" alt="">
          </div>
          <span class="font-semibold  text-2xl">
            Book Store
          </span>
        </a>
      </div>
    <div class="grid grid-cols-2 sm:grid-cols-4">
      <div class="space-y-3">
        <h3 class="">Thông tin hỗ trợ</h3>
        <ul class="text-sky-500">
          <li><a href="">Mr.a</a></li>
          <li><a href=""> Mr.b</a></li>
          <li><a href="">Mr.c</a></li>
        </ul>
      </div>
        <div class="space-y-3">
          <h3 class="">Thông tin liên lạc</h3>
          <ul class="text-sky-500">
            <li><a href="">0989 08 9832</a></li>
            <li><a href="">0989 08 9832</a></li>
            <li><a href="">0989 08 9832</a></li>
          </ul>
        </div>
        <div class="space-y-3">
          <h3 class="">Hệ thống Gần nhất</h3>
          <ul class="text-sky-500">
            <li><a href="">Trịnh Văn Bô, Quận Nam Từ Liêm,Hà Nội</a></li>
            <li><a href=""> Trịnh Văn Bô, Quận Nam Từ Liêm,Hà Nội</a></li>
            
          </ul> 
        </div>
        <div class="space-y-3">
          <h3 class="">Thông tin liên hệ và tư vấn  </h3>
         <div class="flex justify-start mt-3 ml-3">
           <a href="" class="flex items-center p-1">
             <img src="https://res.cloudinary.com/dqyoluczh/image/upload/v1644306490/rrfiwarhga64tcceiz2z.png" alt="" class="fill-current">
           </a> 
           <a href="" class="flex items-center p-1">
            <img src="https://res.cloudinary.com/dqyoluczh/image/upload/v1645061898/instagram_iycwi2.png" alt="" class="fill-current">
          </a> 
          <a href="" class="flex items-center p-1">
            <img src="https://res.cloudinary.com/dqyoluczh/image/upload/v1644477011/yme7no9ttsdumygif4xn.png" alt="" class="fill-current">
          </a> 
         </div> 
        </div>
    </div>
    </div>
  </footer>