<table class="w-full text-left  mt-10 justify-center items-cente mb-5">
  <thead class="">
      <tr>
          <th>Tên sản phẩm</th>
          <th>Price</th>
          <th>soluong </th>
          <th></th>
      </tr>
  </thead>
  <tbody class="">
  
          <tr *ngFor="let item of cart">
              <td>
                <img src="{{item.img}}" width="100px" alt="">
              </td>
              <td class="">
                {{item.name}}  
              </td>
              <td>
                  <button  data-id="${item.id}" class="btn increase border border-black p-2">+</button>
               
                  <button  data-id="${item.id}" class="btn decrease border border-black p-2">-</button>
              </td>
              <td>
                  <button data-id="${item.id}" class="btn remove border bg-red-500 px-4 py-3 text-white">Remove</button>
                  <p hidden></p>
              </td>
             
          </tr>
     
  </tbody>
  <tfoot  class="pt-10">
      <tr class="pt-10"><td colspan="2" class="text-right pt-10"></td></tr>    
     
  </tfoot>
 
</table>
<button class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">Thanh Toán</button>